@font-face {
    font-family: "Title";
    src: url(./font/CoffeeMoccaRegular-PKJZ2.ttf);
}

@font-face {
    font-family: "Latte";
    src: url(./font/CoffeeLatte-OVqjO.ttf);
}
@font-face {
    font-family: "Latte-outro";
    src: url(./font/CoffeeLatte-Earjr.otf);
}